<h1>Register Here:</h1>
<form id="register_new_user_form" action="/users" method="POST">
   <input type="text" name="user[username]" placeholder="Username">
   <input type="test" name="user[email]" placeholder="Email">
   <input type="password" name="user[password]" placeholder="Password">
   <input type="password" name="password_confirmation" placeholder="Confirm Password">
   <input type="submit" name="Register">
</form>
<%if @errors%>
   <span><%=@errors%> Please Try Again</span>
<%end%>

