<% if logged_in? %>
   <ul>
      <li><a href="/users/<%= current_user.id%>">Welcome, <%=current_user.username.upcase%></a></li>
      <li><a href="/routes/new">ADD ROUTE</a></li>
      <li><a href="/logout">LOGOUT</a></li>
      <li><a href="http://www.thesfmarathon.com/the-races/full-marathon/">SIGN UP FOR 2107 MARATHON</a></li>
      <li><a href="/">TrainSF</a></li>
   </ul>
<% else %>
   <ul>
   	<li><a class="register_link" href="/users/new">REGISTER</a></li>
   	<li><a class="login_link" href="/sessions/login">LOG IN</a></li>
   	<li><a href="http://www.thesfmarathon.com/the-races/full-marathon/">SIGN UP FOR 2107 MARATHON</a></li>
   </ul>
<% end %>


