<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1AJK6MjD8c02xCa8Pd7q-OSnLQzM" width="1000" height="600"></iframe>

<div><h1>Record Route:</h1></div>

<div class="route-form1">
<form id="new-route-form" action="/routes" method="post" class="form">
<label>Name:</label><br>
<input type="text" name="route[name]" placeholder="Route Name"><br>
<label>Start:</label><br>
<input type="text" name="route[origin]" placeholder="Start"><br>
<label>Destination: </label><br>
<input type="text" name="route[destination]" placeholder="Destination"><br>
<label>Distance:</label><br>
<input type="text" name="route[distance]" placeholder="Distance"><br>
<label>Time:</label><br>
<input type="text" name="route[time]" placeholder="Time"><br>
<label>Comments:</label><br>
  <textarea name="route[comment]" class="textarea input input-round"></textarea><br>

  <input type="submit" name="submit" value="Add Route" class="input button button-coral">
</form>
</div>


