<h1>Pick a Route:</h1>

<div class="container">
<div id="floating-panel">
  <strong>Start:</strong>
  <select id="start">
    <option value="1 Sausalito, San Francisco, CA">Ferry Building</option>
    <option value="501 Stanyan St.,
San Francisco, CA">Golden Gate Park</option>
    <option value="Baker Beach, San Francisco, CA">Baker Beach</option>
    <option value="Ocean Beach, San Francisco, CA">Ocean Beach</option>
    <option value="501 Twin Peaks Blvd, San Francisco, CA ">Twin Peaks</option>
    <option value="24 Willie Mays Plaza, San Francisco, CA">AT&T Park</option>
    <option value="501 Dolores St, San Francisco, CA">Dolores Park</option>
    <option value="2 Beach St, San Francisco, CA ">Fisherman's Wharf</option>
    <option value="429 Castro St, San Francisco, CA">Castro Theatre</option>
    <option value="900 North Point St, San Francisco, CA ">Ghirardelli Square</option>
    <option value="1 Dr Carlton B Goodlett Pl, San Francisco, CA ">City Hall</option>
    <option value="1801 Haight St, San Francisco, CA">Haight-Ashbury</option>
    <option value="1 Telegraph Hill Blvd, San Francisco, CA">Coit Tower</option>
    <option value="1100 California St, San Francisco, CA">Grace Cathredral</option>
    <option value="603 Mason St
San Francisco, CA">Crissy Field</option>
    <option value="600 Montgomery St, San Francisco, CA">Transamerica Pyramid</option>
    <option value="633 Folsom St, San Francisco, CA">Dev Bootcamp</option>
  </select>
  <br>
  <strong>End:</strong>
  <select id="end">
    <option value="1 Sausalito, San Francisco, CA">Ferry Building</option>
    <option value="501 Stanyan St.,
San Francisco, CA">Golden Gate Park</option>
    <option value="Baker Beach, San Francisco, CA">Baker Beach</option>
    <option value="Ocean Beach, San Francisco, CA">Ocean Beach</option>
    <option value="501 Twin Peaks Blvd, San Francisco, CA ">Twin Peaks</option>
    <option value="24 Willie Mays Plaza, San Francisco, CA">AT&T Park</option>
    <option value="501 Dolores St, San Francisco, CA">Dolores Park</option>
    <option value="2 Beach St, San Francisco, CA ">Fisherman's Wharf</option>
    <option value="429 Castro St, San Francisco, CA">Castro Theatre</option>
    <option value="900 North Point St, San Francisco, CA ">Ghirardelli Square</option>
    <option value="1 Dr Carlton B Goodlett Pl, San Francisco, CA ">City Hall</option>
    <option value="1801 Haight St, San Francisco, CA">Haight-Ashbury</option>
    <option value="1 Telegraph Hill Blvd, San Francisco, CA">Coit Tower</option>
    <option value="1100 California St, San Francisco, CA">Grace Cathredral</option>
    <option value="603 Mason St
San Francisco, CA">Crissy Field</option>
    <option value="600 Montgomery St, San Francisco, CA">Transamerica Pyramid</option>
  </select>
</div>
<div id="right-panel"></div>
<div id="map"></div>
</div>


